body{
    background: skyblue;
    min-width: 660px;
}

header.cabecalho{
    height: 150px;
    background-color: rgb(248, 80, 80);
}

img#logo{
    max-width: 350px;
    margin-top: 25px;
}

div.cabecalho-inf{
    display: block;
    min-width: 660px;
    position: absolute;
    background-color: white;
    top: 150px;
}

div.content{
    display: block;
    width: auto;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    padding-top: 50px;
    padding-bottom: 10px;
    padding-left: 20px;
    background: white;
    box-shadow: 1px 1px 4px black;
}

img#Mapa_Completo,img#Porto_novo_1,img#Porto_novo_2,img#Bairro_aparecida,img#Presidente_medici,img#Morro_Sesi,img#Del_porto,img#Mapa_Local{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

div.iframes{
    display: block;
}

iframe#frame-rel{
    display: block;
    min-width: 600px;
    width: 90%;
    margin: 10px;
    height: 4000px;
    border: none;
	overflow: hidden;
}
